@using NDKSkateShopMVC.Models
@{
    CommonInfo x = (CommonInfo)HttpContext.Current.Application["dungChung"];
}

<!DOCTYPE html>
<html>
<head>
    <title>Shop Mãi Mận</title>
    <link href="~/Content/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Bike-shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- dropdown -->
    <script src="~/Scripts/jquery.easydropdown.js"></script>
    <link href="~/Content/nav.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/Scripts/scripts.js" type="text/javascript"></script>
    <!--js-->
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="~/Scripts/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });
    </script>
    <!---- start-smoth-scrolling---->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v11.0" nonce="1BSHhoYn"></script>

</head>
<body>
    <!--banner-->
    <script src="~/Scripts/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <div class="col-md-4 mt-md-3 text-center">
        @using (Html.BeginForm("KQTimKiem", "TimKiem"))
        {
            <div class="input-group mb-3 ">
                <input type="text" class="form-control" placeholder="Nhập từ khóa"
                       name="search" style="height:40px;">

                <input type="submit" name="submit" value="Tìm kiếm" style="width:150px" />


            </div>
        }
    </div>
    <div class="banner-bg banner-bg1">
        <div class="container">
            <div class="header">
                <div class="top-nav">
                    <label class="mobile_menu" for="mobile_menu">
                        <span>Menu</span>
                    </label>
                    <input id="mobile_menu" type="checkbox">
                    <ul class="nav">
                        <li class="dropdown1">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="dropdown1">
                            @Html.ActionLink("Clothes", "Index", "Skateboards")
                            <ul class="dropdown2">
                                @foreach (Part i in x.BoPhan)
                                {
                                    <li>@Html.ActionLink(i.TenParts, "Index", "Skateboards")</li>
                                }
                            </ul>
                        </li>
                        <li class="dropdown1">
                            @Html.ActionLink("Liên hệ", "Index", "Accessories")
                        </li>
                        <li class="dropdown1">@Html.ActionLink("Hướng dẫn mua hàng", "Index", "HuongDan")</li>
                        <a class="shop" href="@Url.Action("ShowToCart", "ShoppingCart")"><img src="../Asset/Images/cart.png" alt="" /></a>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="caption">
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider">
                        <li><h1>QUÝ PHÁI</h1></li>
                        <li><h1>NĂNG ĐỘNG & CÁ TÍNH</h1></li>
                        <li><h1>VINTAGE</h1></li>
                    </ul>
                    <p><span>ĐỂ </span>KHÔNG AI CÓ THỂ THAY THẾ, <span>BẠN</span> PHẢI LUÔN <span>KHÁC BIỆT</span></p>
                    <a class="morebtn" href="bicycles.html">SHOP MÃI MẬN</a>
                </div>
            </div>
        </div>

    </div>
    <!--/banner--><!--/banner-->
    @RenderBody()
    <section class="footer" style="background-color: pink">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-3">
                    <h2>DANH MỤC</h2>
                    <ul>
                        <li>Đầm tiệc</a></li>
                        <li>T - Shirt</a></li>
                        <li>Quần</a></li>
                        <li>Set Váy</a></li>
                        <li>Áo khoác</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h2>HỖ TRỢ</h2>
                    <ul>
                        <li>Tên: Nguyễn Thị Loan</li>
                        <li>SĐT: 0964557349</li>
                        <li>Địa chỉ: HUTECH QUẬN 9, TP HỒ CHÍ MINH </li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h2>CHI NHÁNH CỬA HÀNG</h2>
                    <ul>
                        <li>CN1: Quận 1</li>
                        <li>CN2: Quận Thủ Đức</li>
                        <li>CN3: Quận 9</li>
                        <li>CN4: Gò vấp</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h2>LIÊN HỆ</h2>

                    <a href="https://www.facebook.com/profile.php?id=100017773095372">  <i class="fab fa-facebook" style="font-size:40px; color:black"></i>  </a>
                    <a href="https://www.instagram.com/ntloan1002/"> <i class="fab fa-instagram-square" style="font-size:40px; color:black;"></i></a>



                </div>
            </div>
        </div>
    </section>
    <!---->

</body>
</html>

